@import '../styles/globals.css';

/* SIDEBAR */

.sidebar {
  width: 270px;
  height: 100vh;
  background: var(--background-off-white);
  box-shadow: 1px 0px 0.1px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(120px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
}

.sidebar-logo {
  width: 48px;
  height: 48px;
  background: #efebfa;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo i {
  color: #6a45d0;
  font-size: var(--text-xl);
}

.sidebar-title {
  font-weight: 700;
  color: var(--sidebar-foreground);
  font-size: var(--text-lg);
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
  padding: 0 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--text-base);
  color: var(--sidebar-foreground);
  transition: all 0.2s ease;
}

.menu-item i {
  font-size: 18px;
  color: var(--sidebar-foreground);
  width: 24px;
  text-align: center;
}

.menu-item.active {
  background: var(--sidebar-primary);
  color: var(--sidebar-primary-foreground);
  font-weight: 500;
}

.menu-item.active i {
  color: var(--sidebar-primary-foreground);
}

.menu-item:hover {
  background: var(--sidebar-primary);
  color: var(--sidebar-primary-foreground);
}

.menu-item:hover i {
  color: var(--sidebar-primary-foreground);
}

.sidebar-footer {
  margin-top: auto;
  padding: 0 20px;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f0f1ff;
  padding: 12px;
  border-radius: 12px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #405059;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #edd75a;
  font-size: var(--text-sm);
  font-weight: 700;
}

.user-info {
  flex: 1;
}

.user-info .name {
  font-size: var(--text-sm);
  font-weight: 500;
}

.user-info .email {
  font-size: var(--text-xs);
  opacity: 0.9;
}

.user-options i {
  color: var(--sidebar-foreground);
  cursor: pointer;
}